:root {
    --pink: rgb(240, 95, 240);
    --purple: rgb(60, 0, 170);
}

body {
    font-family: 'Heebo', sans-serif;
}

a {
    text-decoration: none;
    color: var(--pink);
}

header p{
    float: right;
    color: gray;
}

main {
    text-align: center;
    padding-top: 5vh;
}

#description {
    padding-bottom: 3vh;
}

#start {
    color: white;
    background-color: var(--purple);
    font-size: 18px;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
}

#start:active {
    background-color: var(--pink);
}

.question-container {
    display: none;
}

footer {
    display: none;
}