:root {
    --pink: rgb(220, 96, 252);
    --purple: rgb(80, 23, 187);
}

body {
    margin: 5vh 35%;
    font-family: 'Heebo', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 10vh 0 0 0;
}

li {
    text-align: start;
    list-style-position: inside;
    background-color: rgba(190, 120, 255, 0.603);
    color: rgb(53, 0, 88);
    padding: 7px;
    width: 450px;
    margin-bottom: 5px;
}

#button-wrapper {
    display: flex;
}

button {
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    margin-left: 10px;
}

button:active {
    background-color: var(--pink);
}

@media screen and (max-width: 992px) {
    body {
        margin: 15vh 10%;
    }
}

@media screen and (max-width: 576px) {
    li {
        width: 200px;
    }

    button {
        margin: 5px 10px;
        padding: 20px 25px;
    }
}