body {
    padding-top: 15vh;
    text-align: center;
}

li {
    text-align: start;
    list-style-position: inside;
    background-color: rgba(190, 120, 255, 0.603);
    color: rgb(53, 0, 88);
    padding: 7px;
    width: 430px;
    margin: 0 auto;
}

button {
    border-radius: 5px;
    padding: 5px 10px;
}